<form class="form" action="/cupcakes/edit/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>
   
  <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" value="{{owner}}">
  </label>
  
  {{!-- <input type="hidden" name="image" value="{{image}}"> --}}

  <label for="image" class="form-item">
    Image:
    <input type="text" name="image" value="{{image}}">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>